#github-section {
  text-align: center;

  h5 {
    font-weight: 300;
    font-size: clamp(32px, 5vw, 42px);
    color: var(--paragraph-color);
    margin-bottom: 30px;
  }

  p {
    color: var(--paragraph-color);
    margin-top: 10px;
    font-weight: 400;
    font-size: clamp(16px, 2vw, 22px);
    margin-bottom: 30px;
  }

  img {
    color: white;
  }

  #actionBtn {
    width: 50%;
    max-width: 300px;
    margin-inline: auto;
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 2rem);
    color: white;
    background-color: var(--primary-color);
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
  }
}
