#github-section {
  text-align: center;

  h5 {
    font-weight: 300;
    font-size: 32px;
    color: var(--paragraph-color);
    margin-bottom: 30px;
  }

  p {
    color: var(--paragraph-color);
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
  }

  img {
    color: white;
  }

  #actionBtn {
    width: 50%;
    margin-inline: auto;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: var(--primary-color);
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
  }
}
