#hero-section {
  text-align: center;
  
  .profilepic {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: clamp(15vw, 30vw, 10rem);
    }
  }

  h1 {
    color: var(--header-color);
    font-weight: 500;
    margin-bottom: 20px;

    span {
      color: var(--primary-color);
      font-weight: 700;
    }
  }

  h2 {
    color: var(--header-color);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  p {
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 40px;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      font-weight: 700;
      padding: 15px 10px;
      border-radius: 5px;
      font-size: 1rem;

      &:nth-child(1) {
        border: none;
        background-color: var(--primary-color);
        color: white;
      }

      &:nth-child(2) {
        background: none;
        border: 1px solid var(--paragraph-color);
        color: var(--paragraph-color);
      }
    }
  }
}

#darkmodeBtn {
  position: absolute;
  top: 2vw;
  right: 5vw;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  
    img {
      width: 100%;
    }
}

@media (min-width: 1024px) {
  #hero-section {
    text-align: left;
    display: flex;
    justify-content: center;
    gap: 10%;
    
    .profilepic img {
      width: 300px;
      margin-top: 3rem;
    }

    .textcontent {
      margin-top: 3rem;

      h1 {
        font-size: 3rem;
      }
    }

    .action-buttons {
      justify-content: flex-start;
    }
  }
}
