#projects-section {
  background-color: var(--projects-color);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project {
  text-align: center;

  img {
    max-width: 600px;
    width: 100%;
    margin-bottom: 15px;
  }

  p {
    font-weight: 400;
    color: #FFF2F2;
  }

  h2 {
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
      border: 3px solid;
      border-radius: 5px;
      font-weight: 700;

      &:nth-child(1) {
        padding: 5px 20px;
        background-color: #FFF2F2;
        border-color: #FFF2F2;
        color: #3E373B;

      }

      &:nth-child(2) {
        padding: 5px 10px;
        background-color: transparent;
        border-color: #FFF2F2;
        color: #FFF2F2;

      }
    }

  }
}
