#quote-section {
  text-align: center;
  padding-inline: 0px;
  overflow: hidden;

  p {
    padding-inline: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;

    span {
      color: var(--primary-color);
      font-weight: 700;
    }
  }

  .icons-container {
    margin-top: 7rem;
    width: max-content;
    display: flex;
    gap: 2rem;
    align-items: center;
    animation: scroll 15s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-52%);
  }
}

@media (min-width: 500px) {
  #quote-section {
    max-width: unset;
    padding-inline: 20px;
  }

  .icons-container {
    animation: none !important;
    margin-inline: auto;
    margin-top: 2rem !important;
    margin-bottom: 2rem;

    .duplicatedicons {
      display: none;
    }
  }
}
