#skills-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;

  .skill-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 4rem;
    }

    .skill-textcontent {
      h2 {
        color: var(--primary-color);
        margin-bottom: 15px;
      }
      
      p {
        color: var(--paragraph-color);
        line-height: 22px;
      }
    }
  }
} 

@media (min-width: 500px) {
  #skills-section {
    .skill-textcontent {
      p {
        line-height: 31px !important;
      }
    }
  }
}

@media (min-width: 768px) {
  #skills-section {
    gap: 5%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .skill-container{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
