@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
#hero-section {
  text-align: center;
}
#hero-section .profilepic {
  text-align: center;
  margin-bottom: 20px;
}
#hero-section .profilepic img {
  width: clamp(15vw, 30vw, 10rem);
}
#hero-section h1 {
  color: var(--header-color);
  font-weight: 500;
  margin-bottom: 20px;
}
#hero-section h1 span {
  color: var(--primary-color);
  font-weight: 700;
}
#hero-section h2 {
  color: var(--header-color);
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
#hero-section p {
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 40px;
}
#hero-section .action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#hero-section .action-buttons a {
  font-weight: 700;
  padding: 15px 10px;
  border-radius: 5px;
}
#hero-section .action-buttons a:nth-child(1) {
  border: none;
  background-color: var(--primary-color);
  color: white;
}
#hero-section .action-buttons a:nth-child(2) {
  background: none;
  border: 1px solid var(--paragraph-color);
  color: var(--paragraph-color);
}

#darkmodeBtn {
  position: absolute;
  top: 2vw;
  right: 5vw;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
#darkmodeBtn img {
  width: 100%;
}

#skills-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#skills-section .skill-container {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
#skills-section .skill-container img {
  width: 4rem;
}
#skills-section .skill-container .skill-textcontent h2 {
  color: var(--primary-color);
  margin-bottom: 15px;
}
#skills-section .skill-container .skill-textcontent p {
  color: var(--paragraph-color);
  line-height: 22px;
}

@media (min-width: 500px) {
  #skills-section .skill-textcontent p {
    line-height: 31px !important;
  }
}
#quote-section {
  text-align: center;
  padding-inline: 0px;
  overflow: hidden;
}
#quote-section p {
  padding-inline: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}
#quote-section p span {
  color: var(--primary-color);
  font-weight: 700;
}
#quote-section .icons-container {
  margin-top: 7rem;
  width: max-content;
  display: flex;
  gap: 2rem;
  align-items: center;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-52%);
  }
}
@media (min-width: 500px) {
  #quote-section {
    max-width: unset;
    padding-inline: 20px;
  }
  .icons-container {
    animation: none !important;
    margin-inline: auto;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
  }
  .icons-container .duplicatedicons {
    display: none;
  }
}
#projects-section {
  background-color: var(--projects-color);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project {
  text-align: center;
}
.project img {
  width: 100%;
  margin-bottom: 15px;
}
.project p {
  font-weight: 400;
  color: #FFF2F2;
}
.project h2 {
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}
.project .buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.project .buttons-container a {
  border: 3px solid;
  border-radius: 5px;
  font-weight: 700;
}
.project .buttons-container a:nth-child(1) {
  padding: 5px 20px;
  background-color: #FFF2F2;
  border-color: #FFF2F2;
  color: #3E373B;
}
.project .buttons-container a:nth-child(2) {
  padding: 5px 10px;
  background-color: transparent;
  border-color: #FFF2F2;
  color: #FFF2F2;
}

@media (min-width: 500px) {
  #projects-section {
    max-width: unset;
    align-items: center;
  }
  .project {
    max-width: 60vw;
  }
}
#contact-section {
  text-align: center;
  color: var(--paragraph-color);
}
#contact-section h2 {
  font-weight: 300;
}
#contact-section p {
  margin: 2rem 0;
  line-height: 31px;
}
#contact-section .socialmedia-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#contact-section .socialmedia-links img {
  width: 1.8rem;
}
#contact-section .divider {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-size: 1.3rem;
}
#contact-section .divider span {
  display: block;
  background-color: var(--paragraph-color);
  opacity: 0.5;
  width: 40%;
  height: 1px;
}

form {
  max-width: 400px;
  margin-inline: auto;
}
form .input-container {
  width: 80%;
  margin-inline: auto;
  margin-bottom: 1rem;
  position: relative;
}
form .input-container input, form .input-container textarea {
  border: 2px solid black;
  box-shadow: 0 3px 0 0px var(--primary-color);
  border-radius: 4px;
  border-color: var(--primary-color);
  outline: none;
  padding: 0 2rem;
  font-size: 1rem;
  font-family: inherit;
  color: var(--paragraph-color);
}
form .input-container input {
  width: 100%;
  height: 2.5rem;
  display: block;
}
form .input-container img {
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  width: 1.1rem;
  color: blue;
}
form .input-container textarea {
  width: 100%;
  padding: 0.5rem;
  resize: none;
}
form button {
  border: 2px solid var(--primary-color);
  box-shadow: 0 3px 0 0px var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  width: 30%;
  height: 2.5rem;
  font-weight: 500;
  letter-spacing: 3%;
  font-size: 1rem;
  color: white;
}

footer {
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

:root {
  --bg-color: #FFFFFF;
  --primary-color: #7286D3;
  --header-color: #000000;
  --paragraph-color: #3E373B;
  --projects-color: #7286D3;
}

.dark-mode {
  --bg-color: #373535;
  --primary-color: #7286D3;
  --header-color: #FFFFFF;
  --paragraph-color: #E0D1D1;
  --projects-color: #3E373B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}

body {
  position: relative;
  min-width: 320px;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p, a {
  font-size: 1rem;
  color: var(--paragraph-color);
}

section {
  padding: 60px 20px;
  margin-inline: auto;
}

a {
  display: block;
  text-decoration: none;
}

@media (min-width: 500px) {
  html {
    font-size: 19px;
  }
  section {
    max-width: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
